# Must Know Tools in Python and Interview Questions and Tricks

## Iterating over Range Objects

In [4]:
# Round paranthesis/brackets
t= (4, 5, 6, 7)
type(t)

tuple

In [2]:
# Square paranthesis/ brackets
t= [4, 5, 6, 7]
type(t)

list

In [3]:
s='abcde'
type(s)

str

## for loop for this datatype

In [5]:
for i in t:
  print(i)

4
5
6
7

In [9]:
for i in t:
  print(i, end=" ")

4 5 6 7

## Range

In [10]:
help('range')

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [11]:
range(5)

range(0, 5)

In [12]:
l= range(0,5)
print(l)

range(0, 5)

In [14]:
for i in range(5):
  print(i)

0
1
2
3
4

In [15]:
for i in range(5):
  print(i, end=" ")

0 1 2 3 4

### Nested For Loops - Introduction

In [23]:
for i in range(3):
  for j in range(4):
    print("i= ",i, "j= ",j, end=" ")
    print(" \n")

i=  0 j=  0

i=  0 j=  1

i=  0 j=  2

i=  0 j=  3

i=  1 j=  0

i=  1 j=  1

i=  1 j=  2

i=  1 j=  3

i=  2 j=  0

i=  2 j=  1

i=  2 j=  2

i=  2 j=  3

In [28]:
for i in range(3):
  for j in range(4):
    print("i= ",i,"j= ",j)

i=  0 j=  0
i=  0 j=  1
i=  0 j=  2
i=  0 j=  3
i=  1 j=  0
i=  1 j=  1
i=  1 j=  2
i=  1 j=  3
i=  2 j=  0
i=  2 j=  1
i=  2 j=  2
i=  2 j=  3

In [34]:
for k in range(5,20):
  print(k)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [35]:
print(k)

19

In [38]:
s=7
for p in range(s):
  print(p)

0
1
2
3
4
5
6

In [39]:
for i in ["Product A", "Product B"]:
  for j in range(5):
    print([i,j])

['Product A', 0]
['Product A', 1]
['Product A', 2]
['Product A', 3]
['Product A', 4]
['Product B', 0]
['Product B', 1]
['Product B', 2]
['Product B', 3]
['Product B', 4]

In [41]:
products=["Product A", "Product B"]
exp_sales = [10000, 11000, 22000, 15000, 25000]

In [49]:
for i in products:
  for j in exp_sales:
    print([i,j])

['Product A', 10000]
['Product A', 11000]
['Product A', 22000]
['Product A', 15000]
['Product A', 25000]
['Product B', 10000]
['Product B', 11000]
['Product B', 22000]
['Product B', 15000]
['Product B', 25000]

In [45]:
exp_sales = [10000, 11000, 22000, 15000, 25000]
for i in exp_sales:
  print(i)

10000
11000
22000
15000
25000

In [46]:
str= 'Manish Learns Data Science'
for i in str:
  print(i)

M
a
n
i
s
h

L
e
a
r
n
s

D
a
t
a

S
c
i
e
n
c
e

In [50]:
products=["Product A", "Product B"]
exp_sales = [10000, 11000, 22000, 15000, 25000]
gst = [18, 5, 10]

for i in products:
  for j in exp_sales:
    for g in gst:
      print([i, j*g])

['Product A', 180000]
['Product A', 50000]
['Product A', 100000]
['Product A', 198000]
['Product A', 55000]
['Product A', 110000]
['Product A', 396000]
['Product A', 110000]
['Product A', 220000]
['Product A', 270000]
['Product A', 75000]
['Product A', 150000]
['Product A', 450000]
['Product A', 125000]
['Product A', 250000]
['Product B', 180000]
['Product B', 50000]
['Product B', 100000]
['Product B', 198000]
['Product B', 55000]
['Product B', 110000]
['Product B', 396000]
['Product B', 110000]
['Product B', 220000]
['Product B', 270000]
['Product B', 75000]
['Product B', 150000]
['Product B', 450000]
['Product B', 125000]
['Product B', 250000]

# List Comprehensions

In [52]:
numbers= [1, 13, 4, 5, 63, 100]
numbers

[1, 13, 4, 5, 63, 100]

In [54]:
new_numbers = [ ]
for n in numbers:
  new_numbers.append(n*2)

print(new_numbers)

[2, 26, 8, 10, 126, 200]

In [55]:
new_numbers = [n for n in numbers]
new_numbers

[1, 13, 4, 5, 63, 100]

In [56]:
new_numbers = [n*2 for n in numbers]
new_numbers

[2, 26, 8, 10, 126, 200]

In [58]:
for i in range(2):
  for j in range(5):
    print(i+j, end=" ")

0 1 2 3 4 1 2 3 4 5

In [59]:
new_addition = [i+j for i in range(2) for j in range(5)]
new_addition

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5]

In [61]:
list(range(5))

[0, 1, 2, 3, 4]