# Interview Questions from Python

Question 1: Missing Number
Write a function to find the missing number in a given integer array of 1 to 100. The function takes to parameter the array and the number of elements that needs to be in array.  For example if we want to find missing number from 1 to 6 the second parameter will be 6.

Example

missing_number([1, 2, 3, 4, 6], 6) # 5

# Solution

In [28]:
# creating an array or list
list = [1,2,3,4,5 ,7]
sum(list)

22

In [37]:
# total from 1 to 7
n=13
total = n*(n+1)//2

In [38]:
total

91

In [31]:
28-22

6

In [21]:
1+2+3+4+5+6+7+8+9+10+11+12

78

In [34]:
total

28.0

In [22]:
# create user define function to find missing value

def missing_number(arr, n):
  # calculate the sum of first n natural numbers
  total = n*(n+1)//2

  # calculate the sum of nubers in the arr
  sum_arr = sum(arr)

  # Find the missing number by substracting sum_arr from total
  missing = total- sum_arr

  return missing

In [32]:
# call this method or function
missing_number(list,7)

6

Question 2:
# Sum and Product
Write a function that calculates the sum and product of all elements in a tuple of numbers.

Example

## input_tuple = (1, 2, 3, 4)
## sum_result, product_result = sum_product(input_tuple)
##  print(sum_result, product_result)  # Expected ## output: 10, 24

# solution

In [39]:
def sum_product(t):
  # initialize two variables
  sum_result=0
  product_result = 1

  for num in t:
    sum_result += num
    product_result *=num

  return sum_result, product_result

In [43]:
sum_result=0
sum_result=0+1
sum_result

1

In [44]:
sum_result=1
sum_result=1+2
sum_result

3

In [45]:
sum_result=3
sum_result=3+3
sum_result

6

In [46]:
sum_result=6
sum_result=6+4
sum_result

10

In [49]:
input_tuple = (1,2,3,4,5,78,12,100,45)
sum_result, product_result =sum_product(input_tuple)
print("Sum of all digits= ",sum_result, "\nMultiplication of all digits= ",product_result)

Sum of all digits=  250
Multiplication of all digits=  505440000

In [41]:
1+2+3+4

10

In [42]:
1*2*3*4

24

# Question 3: Common Elements
### Write a function that takes two tuples and returns a tuple containing the common elements of the input tuples.

### Example

### tuple1 = (1, 2, 3, 4, 5)
### tuple2 = (4, 5, 6, 7, 8)

### output_tuple = common_elements(tuple1, tuple2)
### print(output_tuple)  # Expected output: (4, 5)

# Solution

In [58]:
t = (1, 2, 3, 4, 5,5,8,1,2)
print(type(t))
print("\n",t)

<class 'tuple'>

 (1, 2, 3, 4, 5, 5, 8, 1, 2)

In [59]:
t=set(t)
print(type(t))
print("\n",t)

<class 'set'>

 {1, 2, 3, 4, 5, 8}

In [62]:
t1=(2,5,7)
t2=(9,6,1,7)
t3=tuple(set(t1) & set(t2))
t3

(7,)

In [63]:
tuple1 = (1, 2, 3, 4, 5,5,4)
tuple2 = (4, 5, 6, 7, 8)
tuple3= tuple(set(tuple1) & set(tuple2))

In [64]:
tuple3

(4, 5)

In [65]:
tuple1 = (1, 2, 3, 4, 5,5,4)
tuple2 = (4, 5, 6, 7, 8)
tuple3= tuple(list(tuple1) & list(tuple2))

TypeError: 'list' object is not callable

In [66]:
p= (8,7,5)
q=list(p)

TypeError: 'list' object is not callable

## Question 4:
### Concatenate
### Write a function that takes a tuple of strings and concatenates them, separating each string with a space.

### Example

### input_tuple = ('Hello', 'World', 'from', 'Python')
### output_string = concatenate_strings(input_tuple)
### print(output_string)  
#### Expected output: 'Hello World from Python'

### Solution

In [67]:
input_tuple = ('Hello', 'World', 'from', 'Python')
input_tuple

('Hello', 'World', 'from', 'Python')

In [68]:
message = ' '.join(input_tuple)
message

'Hello World from Python'