## Question 1:  Why do you get an error, and how would you fix it?

#### def foo(a=2, b):
####    return a + b

In [5]:
# creation of the function
# a is default argument where as b is non-default argument
def foo(a, b=2):
  return a + b

In [6]:
print(foo(5,3))

8

## Question 2:  Why is there an error in the code, and how would you fix it?

### def foo(a=1, b=2):
###     return a + b

### x = foo - 1

In [9]:
def foo(a=1, b=2):
  return a + b

In [10]:
foo()

3

In [17]:
# x=foo-1
# x

In [15]:
# x = foo - 1
x = foo() - 1
x

2

In [8]:
print(type(foo))

<class 'function'>

In [14]:
print(type(foo()))

<class 'int'>

## Question 3: Please complete the code so that it prints out the expected output.

### a = [1, 2, 3]

#### Expected output:

#### Item 1 has index 0
#### Item 2 has index 1
#### Item 3 has index 2

In [21]:
a=['Data','ML','OOPS', 'Biology','Uma','Sahil','Fatima','Priya', 'Aditiu','Nishi']
for index, item in enumerate(a):
  print("Item %s has index %s" % (item,index))

Item Data has index 0
Item ML has index 1
Item OOPS has index 2
Item Biology has index 3
Item Uma has index 4
Item Sahil has index 5
Item Fatima has index 6
Item Priya has index 7
Item Aditiu has index 8
Item Nishi has index 9

In [22]:
library = {'Book_name':'Ramayan','Page_no':521,'Price':1250.75,'Lang':'Sanskrit'}

In [23]:
library

{'Book_name': 'Ramayan', 'Page_no': 521, 'Price': 1250.75, 'Lang': 'Sanskrit'}

In [24]:
library.keys()

dict_keys(['Book_name', 'Page_no', 'Price', 'Lang'])

In [25]:
library.values()

dict_values(['Ramayan', 521, 1250.75, 'Sanskrit'])

In [26]:
library.items()

dict_items([('Book_name', 'Ramayan'), ('Page_no', 521), ('Price', 1250.75), ('Lang', 'Sanskrit')])

In [30]:
for key, value in library.items():
  print('My book has', key ,'as',value )

My book has Book_name as Ramayan
My book has Page_no as 521
My book has Price as 1250.75
My book has Lang as Sanskrit

### Question 4:
### Create a variable called the_string and assign it the string "Data Analytics".

### Call .rjust() on the_string with 17 as its argument and print() the result.

### Call .ljust() on the_string with the arguments 17 and "*" then print() the result.

### Create a variable called center_plus and assign it the result of .center() being called on the_string with 16 and "+" as arguments.

### Use print() to display the string assigned to center_plus.

### Call .lstrip() on the_string to remove "Data" then print() the result.

### Call .rstrip() on center_plus with "+" as its argument and print() the result.

### Call .strip() on center_plus with "+" as its argument and print() the result.

### Call .replace() on the_string and replace "Data" with "Machine".  print() the result.

In [32]:
the_string = "Data Analytics"

In [34]:
print(the_string)

Data Analytics

In [36]:
# 1 .rjust(17)
print(the_string.rjust(25))

           Data Analytics

In [35]:
# 2 .ljust(17, '*)
print(the_string.ljust(17, '*'))

Data Analytics***

In [38]:
# 3 center_plus .center
center_plus =the_string.center(16,'+')
center_plus

'+Data Analytics+'

In [39]:
# 4 .lstrip()
print(the_string.lstrip('Data'))

 Analytics

In [40]:
# 5 .rstrip()
print(the_string.rstrip('Analytics'))

Data

In [43]:
# 6 center_plus .strip()
print(center_plus)
print(center_plus.strip('+'))

+Data Analytics+
Data Analytics

In [44]:
# 7 .replace ()
print(the_string)
print(the_string.replace('Data','Machine'))

Data Analytics
Machine Analytics

### Question 5: Programming Challenge: String Reverser
#### For this challenge, you will be writing a program which uses a for loop to reverse a string.

#### Start by creating a variable and assigning it a string as user input using input().

In [51]:
user_string = input("Please enter a string.")
reversed = ""

Please enter a string.Priya

In [52]:
print(reversed)

In [53]:
print(len(user_string))

5

In [71]:
len(user_string)-1

4

In [54]:
for item in range(len(user_string)-1, -1, -1):
  reversed+= user_string[item]

In [55]:
print(reversed)

ayirP

In [70]:
for uma in range(4,-1,-1):
  print(uma)

4
3
2
1
0