# Pandas Library in Python

In [4]:
# import basic library from pandas
import pandas as pd

In [5]:
# upload data from local address
data = pd.read_csv("/content/sample_data/CAR DETAILS FROM CAR DEKHO.csv")

In [6]:
# represent first 5 rows
data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [7]:
# display top 12 rows
data.head(12)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
5,Maruti Alto LX BSIII,2007,140000,125000,Petrol,Individual,Manual,First Owner
6,Hyundai Xcent 1.2 Kappa S,2016,550000,25000,Petrol,Individual,Manual,First Owner
7,Tata Indigo Grand Petrol,2014,240000,60000,Petrol,Individual,Manual,Second Owner
8,Hyundai Creta 1.6 VTVT S,2015,850000,25000,Petrol,Individual,Manual,First Owner
9,Maruti Celerio Green VXI,2017,365000,78000,CNG,Individual,Manual,First Owner
10,Chevrolet Sail 1.2 Base,2015,260000,35000,Petrol,Individual,Manual,First Owner
11,Tata Indigo Grand Petrol,2014,250000,100000,Petrol,Individual,Manual,First Owner

In [8]:
# print bottom 5 rows
data.tail()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [9]:
# display bottom 15 rows
data.tail(15)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
4325,Maruti Alto LXi,2000,65000,90000,Petrol,Individual,Manual,Second Owner
4326,Honda City 1.5 GXI,2005,65000,150000,Petrol,Individual,Manual,Third Owner
4327,Tata Nano XM,2015,190000,60000,Petrol,Individual,Manual,Second Owner
4328,Mahindra Verito 1.5 D6 BSIII,2012,200000,112198,Diesel,Individual,Manual,Second Owner
4329,Tata Manza Aura Safire BS IV,2010,160000,60000,Petrol,Individual,Manual,Second Owner
4330,Tata Indica Vista Aqua 1.4 TDI,2010,150000,130000,Diesel,Individual,Manual,Second Owner
4331,Ford EcoSport 1.5 TDCi Titanium BSIV,2015,530000,175000,Diesel,Individual,Manual,Third Owner
4332,Mahindra Scorpio S2 7 Seater,2015,750000,120000,Diesel,Individual,Manual,First Owner
4333,Maruti Ritz VDi,2012,225000,90000,Diesel,Individual,Manual,Second Owner
4334,Toyota Innova 2.5 VX (Diesel) 8 Seater BS IV,2012,600000,170000,Diesel,Individual,Manual,First Owner
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [14]:
# showing random 1 row
data.sample()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
892,Hyundai i10 Sportz 1.2,2010,210000,60000,Petrol,Individual,Manual,Second Owner

In [20]:
# display random 5 rows
data.sample(5)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
714,Maruti Vitara Brezza VDi,2016,699000,39503,Diesel,Dealer,Manual,First Owner
1968,Ford Figo Petrol ZXI,2011,185000,50000,Petrol,Individual,Manual,Third Owner
482,Maruti Swift VDI,2012,352000,109000,Diesel,Individual,Manual,First Owner
3598,Maruti Baleno Alpha 1.3,2017,800000,90000,Diesel,Individual,Manual,First Owner
607,Hyundai Verna 1.6 VTVT SX,2015,760000,55340,Petrol,Trustmark Dealer,Manual,First Owner

In [26]:
# select certain rows and clomns using iloc where i  is index and loc is location
data.iloc[101:126,0:4]

,name,year,selling_price,km_driven
101,Mercedes-Benz E-Class Exclusive E 200 BSIV,2018,4500000,9800
102,BMW X1 sDrive 20d xLine,2017,2750000,13000
103,Volvo V40 D3 R Design,2018,1975000,21000
104,Maruti SX4 Zxi BSIII,2008,175000,29173
105,BMW 7 Series 730Ld,2012,2500000,48000
106,Mahindra Bolero Power Plus SLX,2017,628000,120000
107,Hyundai Sonata CRDi M/T,2010,600000,100000
108,Nissan Micra Active XV Petrol,2017,399000,30000
109,Mahindra Xylo D4,2018,750000,87000
110,Hyundai Elite i20 Sportz Plus Dual Tone BSIV,2019,750000,15000
111,Renault KWID RXT,2017,315000,16000
112,Mahindra Xylo E4 BS III,2012,600000,60000
113,Maruti Wagon R LXI Minor,2010,100000,60000
114,Maruti SX4 ZXI MT BSIV,2011,250000,110000
115,Renault KWID RXT,2017,350000,25000
116,Hyundai Creta 1.4 CRDi S,2016,780000,60000
117,Maruti Swift Dzire VDI,2014,434000,79350
118,Hyundai Verna 1.6 VTVT AT S Option,2016,690000,80000
119,Mahindra Scorpio LX BSIV,2014,555000,90000
120,Maruti SX4 Vxi BSIII,2007,120000,90000
121,Maruti Ertiga VDI,2014,500000,120000
122,Chevrolet Beat Diesel,2013,165000,60000
123,Maruti Zen LX,2004,95000,50000
124,Maruti Baleno Delta 1.2,2018,550000,20000
125,Maruti Swift Vdi BSIII,2007,100000,110000

In [28]:
data.iloc[100:106,2:6]

     selling_price  km_driven    fuel seller_type
100         210000      63500  Petrol      Dealer
101        4500000       9800  Petrol      Dealer
102        2750000      13000  Diesel  Individual
103        1975000      21000  Diesel      Dealer
104         175000      29173  Petrol      Dealer
105        2500000      48000  Diesel      Dealer

In [23]:
# display all column names only
data.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner'],
      dtype='object')

In [29]:
# select certain rows and clomns using columns names where loc is location
data.loc[1:8,['year', 'selling_price']]

   year  selling_price
1  2007         135000
2  2012         600000
3  2017         250000
4  2014         450000
5  2007         140000
6  2016         550000
7  2014         240000
8  2015         850000

In [30]:
# fetch rows nad colmns in data
data.shape

(4340, 8)

In [31]:
# total entries or values in data
data.size

34720

In [32]:
4340*8

34720

In [33]:
# schema of data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   object
 5   seller_type    4340 non-null   object
 6   transmission   4340 non-null   object
 7   owner          4340 non-null   object
dtypes: int64(3), object(5)
memory usage: 271.4+ KB

In [34]:
data['transmission']

0       Manual
1       Manual
2       Manual
3       Manual
4       Manual
         ...
4335    Manual
4336    Manual
4337    Manual
4338    Manual
4339    Manual
Name: transmission, Length: 4340, dtype: object

In [35]:
type(data['transmission'])

pandas.core.series.Series

In [36]:
type(data)

pandas.core.frame.DataFrame

# analysis

In [40]:
# selling price greater than 900000
data[data['selling_price']>900000]

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
12,Toyota Corolla Altis 1.8 VL CVT,2018,1650000,25000,Petrol,Dealer,Automatic,First Owner
25,Toyota Corolla Altis 1.8 VL CVT,2018,1650000,25000,Petrol,Dealer,Automatic,First Owner
27,Hyundai Venue SX Opt Diesel,2019,1195000,5000,Diesel,Dealer,Manual,First Owner
29,Jaguar XF 2.2 Litre Luxury,2014,1964999,28000,Diesel,Dealer,Automatic,First Owner
30,Mercedes-Benz New C-Class 220 CDI AT,2013,1425000,59000,Diesel,Dealer,Automatic,First Owner
...,...,...,...,...,...,...,...,...
4302,BMW 7 Series 730Ld,2006,1050000,30000,Diesel,Dealer,Automatic,First Owner
4304,Audi Q5 3.0 TDI Quattro Technology,2018,3899000,22000,Diesel,Dealer,Automatic,First Owner
4311,Toyota Camry Hybrid 2.5,2017,1900000,20118,Petrol,Dealer,Automatic,First Owner
4312,Maruti Ertiga 1.5 VDI,2019,1000000,15000,Diesel,Individual,Manual,First Owner
4313,Ford Endeavour 2.2 Titanium AT 4X2,2019,2800000,10000,Diesel,Individual,Automatic,First Owner

In [42]:
# filter dataset with fuel is 'Petrol'
data_petrol=data[data['fuel']=='Petrol']

In [44]:
data_petrol.shape

(2123, 8)

In [45]:
# filter dataset with name as 'BMW 7 Series 730Ld'
data_BMW = data[data['name']=='BMW 7 Series 730Ld']
data_BMW.shape

(4, 8)

# Sort data values

In [46]:
# sort rows according to selling price in ascending order
data.sort_values(by='selling_price')

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
2662,Ford Ikon 1.6 ZXI NXt,2005,20000,25000,Petrol,Individual,Manual,Second Owner
2495,Ford Ikon 1.4 ZXi,2000,22000,42743,Petrol,Dealer,Manual,Third Owner
2444,Maruti 800 EX,2004,30000,60000,Petrol,Individual,Manual,Third Owner
3206,OpelCorsa 1.4 GL,2002,35000,100000,Petrol,Individual,Manual,Third Owner
2849,Tata Nano Std BSII,2009,35000,50000,Petrol,Individual,Manual,Third Owner
...,...,...,...,...,...,...,...,...
1023,BMW X5 xDrive 30d xLine,2019,4950000,30000,Diesel,Dealer,Automatic,First Owner
2239,BMW X5 xDrive 30d xLine,2019,4950000,30000,Diesel,Dealer,Automatic,First Owner
3969,Mercedes-Benz GLS 2016-2020 350d 4MATIC,2016,5500000,77350,Diesel,Dealer,Automatic,First Owner
89,Mercedes-Benz S-Class S 350d Connoisseurs Edition,2017,8150000,6500,Diesel,Dealer,Automatic,First Owner
3872,Audi RS7 2015-2019 Sportback Performance,2016,8900000,13000,Petrol,Dealer,Automatic,First Owner

In [47]:
# sort rows according to selling price in descending order
data.sort_values(by='selling_price', ascending= False)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
3872,Audi RS7 2015-2019 Sportback Performance,2016,8900000,13000,Petrol,Dealer,Automatic,First Owner
89,Mercedes-Benz S-Class S 350d Connoisseurs Edition,2017,8150000,6500,Diesel,Dealer,Automatic,First Owner
3969,Mercedes-Benz GLS 2016-2020 350d 4MATIC,2016,5500000,77350,Diesel,Dealer,Automatic,First Owner
2258,BMW X5 xDrive 30d xLine,2019,4950000,30000,Diesel,Dealer,Automatic,First Owner
612,BMW X5 xDrive 30d xLine,2019,4950000,30000,Diesel,Dealer,Automatic,First Owner
...,...,...,...,...,...,...,...,...
2849,Tata Nano Std BSII,2009,35000,50000,Petrol,Individual,Manual,Third Owner
1832,Tata Nano LX SE,2012,35000,35000,Petrol,Individual,Manual,Third Owner
2444,Maruti 800 EX,2004,30000,60000,Petrol,Individual,Manual,Third Owner
2495,Ford Ikon 1.4 ZXi,2000,22000,42743,Petrol,Dealer,Manual,Third Owner
2662,Ford Ikon 1.6 ZXI NXt,2005,20000,25000,Petrol,Individual,Manual,Second Owner

# Group By

In [49]:
# group by seller type
data2=data.groupby('seller_type')
# fuel	seller_type	transmission	owner

In [58]:
data.groupby('owner')['km_driven'].max()

owner
First Owner             806599
Fourth & Above Owner    245244
Second Owner            350000
Test Drive Car           24585
Third Owner             400000
Name: km_driven, dtype: int64

In [57]:
data.groupby('fuel')['km_driven'].max()

fuel
CNG         120000
Diesel      560000
Electric     62000
LPG         170000
Petrol      806599
Name: km_driven, dtype: int64

In [56]:
data.groupby('transmission')['km_driven'].max()

transmission
Automatic    235000
Manual       806599
Name: km_driven, dtype: int64

In [53]:
data.groupby('seller_type')['km_driven'].sum()

seller_type
Dealer               52510296
Individual          230867552
Trustmark Dealer      3998626
Name: km_driven, dtype: int64

In [55]:
data.groupby('seller_type')['km_driven'].max()

seller_type
Dealer              806599
Individual          400000
Trustmark Dealer     79641
Name: km_driven, dtype: int64

In [52]:
data2['km_driven'].sum()

seller_type
Dealer               52510296
Individual          230867552
Trustmark Dealer      3998626
Name: km_driven, dtype: int64

In [51]:
data['seller_type'].value_counts()

seller_type
Individual          3244
Dealer               994
Trustmark Dealer     102
Name: count, dtype: int64

# Apply Transformation

In [59]:
def reverse_name(name):
  return name[::-1]

In [60]:
reverse_name('Ravi')

'ivaR'

In [61]:
reverse_name('Sarthak')

'kahtraS'

In [62]:
name= 'Data Science'
reverse_name(name)

'ecneicS ataD'

In [63]:
data['name']=data['name'].apply(reverse_name)

In [64]:
data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,CA 008 ituraM,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,roniM IXL R nogaW ituraM,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,XS 6.1 anreV iadnuyH,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,noitpO T OGideR nustaD,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,CETD-i XV ezamA adnoH,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [65]:
data.to_csv('Car Dekho Updataed Data.csv')

In [66]:
data.to_excel('Car Website.xlsx',sheet_name='Sheet1')